/Lab8/IpFinder/nbproject/private/
/Lab8/IpFinder/build/
/Lab8/IpFinder/dist/
/Lab8/CharWordCounter/nbproject/private/
/Lab8/CharWordCounter/dist/
/Lab8/CharWordCounter/build/
/Lab8/HelloWorld/nbproject/private/
/Lab8/HelloWorld/build/
/Lab8/HelloWorld/dist/
/Lab8/HelloWorldCss/nbproject/private/
/Lab8/HelloWorldCss/dist/
/Lab8/HelloWorldCss/build/
/Lab9/NotePad/nbproject/private/
/Lab9/NotePad/build/
/Lab9/NotePad/dist/
/Lab10/ConnectDB/nbproject/private/
/Lab10/ConnectDB/build/
/Lab10/ConnectDB/dist/
/Lab11/DataSourceDB/nbproject/private/
/Lab11/DataSourceDB/build/
/Lab11/DataSourceDB/dist/
/Lab11/GuiDB/nbproject/private/
/Lab11/BatchDB/nbproject/private/
/Lab11/BatchDB/build/
/Lab11/BatchDB/dist/
/Lab11/GuiDB/dist/
/Lab11/GuiDB/build/